[OK] Development: Using PostgreSQL/Supabase
[OK] Development: Redis connection successful
BEGIN;
--
-- Rename field bike_model on review to bike
--
ALTER TABLE "interactions_review" RENAME COLUMN "bike_model_id" TO "bike_id";
--
-- Rename field bike_model on wishlistitem to bike
--
ALTER TABLE "interactions_wishlistitem" RENAME COLUMN "bike_model_id" TO "bike_id";
--
-- Alter unique_together for review (1 constraint(s))
--
-- (no-op)
--
-- Add field is_approved to review
--
ALTER TABLE "interactions_review" ADD COLUMN "is_approved" boolean DEFAULT true NOT NULL;
ALTER TABLE "interactions_review" ALTER COLUMN "is_approved" DROP DEFAULT;
--
-- Add field title to review
--
ALTER TABLE "interactions_review" ADD COLUMN "title" varchar(255) NULL;
--
-- Alter unique_together for wishlistitem (1 constraint(s))
--
-- (no-op)
COMMIT;
